[Desktop Entry]
Name=Xbl
Comment=3d Geometry Game
Comment[pl]=Trójwymiarowe Tetris
Icon=xbl.png
Exec=xbl
Terminal=0
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
